In [12]:
import pandas as pd

In [21]:
state = [ "US Average", "Alabama","Alaska", "Arizona", "Arkansas",  "California",
      "Colorado", "Connecticut","District Of Columbia", "Delaware", "Florida",
      "Georgia", "Hawaii", "Idaho,", "Illinois", "Indiana",
      "Iowa", "Kansas", "Kentucky", "Louisiana","Maine",
      "Maryland","Massachusetts" , "Michigan", "Minnesota", "Mississippi",
      "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire",
      "New Jersey", "New Mexico", "New York","North Carolina", "North Dakota",
      "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island",
       "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah",
       "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

abbrev = ["US", "AL", "AK", "AZ", "AR", "CA",
      "CO", "CT", "DC", "DE", "FL",
      "GA", "HI", "ID", "IL", "IN",
      "IA", "KS", "KY", "LA", "ME",
      "MD", "MA", "MI", "MN", "MS",
      "MO", "MT", "NE", "NV", "NH",
      "NJ", "NM", "NY", "NC", "ND",
      "OH", "OK", "OR", "PA", "RI",
      "SC", "SD", "TN", "TX", "UT",
      "VT", "VA", "WA", "WV", "WI", "WY"]

rate = [13.2, 11.85, 21.75, 12.21, 9.3, 18.34,
      11.89, 21.51, 13, 12.25, 11.99,
      10.7, 32.08, 9.83, 12.19,11.87,
      11.44, 10.29, 10.21, 8.84, 17.26,
      13.07, 22.51, 15, 12.79, 10.95,
      9.28, 10.83, 9.6, 11.79, 19.96,
      15.72, 12.21, 17.27, 10.99, 9.17, 
      11.98, 8.8, 10.63, 12.53, 22.7,
      11.89, 10.57, 10.78, 11.65, 10.01,
      16.73, 11.4, 9.31, 9.72, 14.01, 10.56]

data = {"state": state, "abbrev": abbrev, "rate": rate}

states = pd.DataFrame(data=data)
states["rate"] = (states["rate"]/100)
#df.to_csv('state_utility.csv', index=False)

In [23]:
print(states.shape)
states.head()

(52, 3)

        state abbrev    rate
0  US Average     US  0.1320
1     Alabama     AL  0.1185
2      Alaska     AK  0.2175
3     Arizona     AZ  0.1221
4    Arkansas     AR  0.0930

In [24]:
# Energy Cost Formula
# One kilowatt is equal to 1000 watts
wattage = 900
utility_rate = .13
hours_per_day = .5
days_per_year = 350
watts_per_kilowatt = 1000

energy_used = (wattage*hours_per_day*days_per_year)/watts_per_kilowatt
cost_per_year = energy_used* utility_rate
print(f"Energy Used: {energy_used} kWh")
print(f"Cost per Year: ${cost_per_year}")

Energy Used: 157.5 kWh
Cost per Year: $20.475

In [25]:
def energy_cost(wattage,rate,hours,days):
  '''
  This function calculates how much energy a device uses per year
  and how much it will cost on a yearly basis.
  The user should first find the wattage of their device,
  indicate thecost of the utility rate they pay (state avg if unknown),
  and estimate the hours they use the device per day, 
  and how many days per year they typically use the device.

  Example: The typically wattage level of a coffee maker 
  is between 900-1200 watts. The average utility rate in
  the U.S. is $.13/kWh. If you use your coffee maker for 
  about half an hour (.5) for almost everyday of the 
  year (350), that's a total of 157.5 kWh, and would cost
  $18.90 a year. 

  energy_used = (900 * .5 * 350) / 1000
  cost_per_year = energy_used * .13
  '''
  wattage = wattage
  utility_rate = rate
  hours_per_day = hours
  days_per_year = days
  watts_per_kilowatt = 1000

  energy_used = (wattage*hours_per_day*days_per_year)/watts_per_kilowatt
  cost_per_year = round(energy_used* utility_rate,2)

  return energy_used, cost_per_year

In [26]:
# Test
print("Coffee Maker:", energy_cost(900,.13,.5,350))
print("Ceiling Fan:", energy_cost(35,.10,1,250))

Coffee Maker: (157.5, 20.48)
Ceiling Fan: (8.75, 0.88)

In [29]:
def state_energy_cost(wattage,state,hours,days):
  '''
  This function calculates how much energy a device uses per year
  and how much it will cost on a yearly basis based on the state you live.

  Example: The typically wattage level of a laptop 
  is 50 watts. The average utility rate in
  Missouri is $.0928/kWh. If you use your laptop for
  four hours (4) a day for 5 days a week or 
  260 days a year, that's a total of 52.0 kWh, 
  and would cost $4.83 a year. 

  energy_used = (50 * 4 * 260) / 1000
  cost_per_year = energy_used * .09
  '''
  wattage = wattage
  state = state 
  utility_rate = states[states["state"]== state ]["rate"].item()
  hours_per_day = hours
  days_per_year = days
  watts_per_kilowatt = 1000

  energy_used = (wattage*hours_per_day*days_per_year)/watts_per_kilowatt
  cost_per_year = round(energy_used* utility_rate,2)

  return energy_used, cost_per_year

In [31]:
# Testing 
print(state_energy_cost(50,"Missouri",4,260))
print(state_energy_cost(100,"Tennessee",4,260))

(52.0, 4.83)
(104.0, 11.21)